*[id^="example-"],
#example-1 {
  list-style: none;
}
* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
  color: #212121;
}
h1,
h2 {
  color: #388e3c;
}
h3 {
  color: #388e3c;
  background: #c8e6c9;
  padding: 1rem;
}
#container {
  max-width: 767px;
  margin: 0 auto;
}
#main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#main-header > :nth-child(1) {
  flex: 1 1 auto;
}
#main-header > :nth-child(2) {
  flex: 0 1 100%;
}
#main-header > :nth-child(3) {
  flex: 1 1 auto;
}
#main-header h2 {
  order: 1;
}
#main-header nav a {
  padding: 0.5em 1em;
  background: #ffeb3b;
  border-radius: 999px;
  text-decoration: none;
  color: #212121;
  font-weight: bold;
}
*[id^="example-"] {
  background: #e6e6e6;
  padding: 1rem;
  margin: 1rem 0 0;
  margin-left: 1px;
}
*[id^="example-"] > li {
  height: 4rem;
  line-height: 4rem;
  padding: 0 4px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}
*[id^="example-"] > li:nth-child(1n+1) {
  color: #fff;
  background: #388e3c;
}
*[id^="example-"] > li:nth-child(2n+2) {
  color: #fff;
  background: #4caf50;
}
*[id^="example-"] > li:nth-child(3n+3) {
  color: #212121;
  background: #c8e6c9;
}
*[id^="example-"] > li:nth-child(4n+4) {
  color: #212121;
  background: #fff;
}
#example-1 {
  display: flex;
}
#example-1 > :nth-child(1) {
  flex: 0 1 50px;
}
#example-1 > :nth-child(2) {
  flex: 1 1 auto;
}
#example-1 > :nth-child(3) {
  flex: 0 0 auto;
}
#example-1 > :nth-child(4) {
  flex: 0 1 50px;
}
#example-1 > * {
  height: 100px;
  line-height: 100px;
}
